<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.dao.RecordDao">
    <select id="getAllRecord" resultType="Allpojo.Record">
       SELECT
om.`mid`,
 oe.`ename`,
	ol.`star_date`,
	ol.`end_date`,
	ol.`days`,
	ol.`ltype`,
	ore.`rname`
FROM oa_matter om
INNER JOIN oa_leave ol ON om.`lid`=ol.`lid`
INNER JOIN oa_employee oe ON om.`eid`=oe.`eid`
INNER JOIN oa_record ore ON om.`rid`=ore.`rid`
    </select>
</mapper>